<div class="container">

   <h2>Home page</h2>

   <div class="d-flex">
      <div>
        <h2>
          Your Best Event Management App.<br>
          Create and MAnage All Events with ease
        
        </h2>
        <button>Get started</button>
      
      </div>
      <div>image here</div>
   
   
   </div>
   <div class="footer">
   <p>Copyright @2021</p>
   
   </div>
</div>