
   <div class="home-box">
   <% if user_signed_in? %>
   <p class="text-primary">Logged in as <b><%= current_user.email %></b></p>
   <% end %>
   <div>
   <h2 class="text-center">
      Your Best Event Management App.<br>
      Create and Manage All Events with ease  
   </h2>
   </div>
   
   </div>
